*{
    padding: 0%;
    margin: 0%;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}
.signup{
    display: flex;
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.register{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register h1{
    display: flex;
    /* margin-bottom: 30px; */
}
.register a {
    color: black;
}
.register h3{
    margin-top: 20px;
    align-self: center;
    padding-right: 250px;
}
#email{
    margin-top: 20px;
    align-self: center;
    padding-right: 297px;   
}
#password{
    margin-top: 20px;
    align-self: center;
    padding-right: 257px;  
}
#submit-btn {
    margin-top: 20px;
    align-self: center;
    width: 363px;
    height: 40px;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.input-box{
    justify-content: center;
    margin-top: 10px;  
    width: 350px;
    height: 30px;
    padding: 7px;
    border-radius: 7px;
    font-size: 19px;
}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 244, 244);
    width: 50%;
    justify-content: center;
}
.welcome p{
    margin-top: 5px;
}

@media only screen and (max-width:420px){
    .head-part h1{
        display: flex;
        justify-content: center;
    }
    .login-container h2{
        display: flex;
        justify-content: center;
        margin-right: 55px;
    }
    .login-container h3{
        font-size: 12px;
        margin-right: 55px;
    }
    .input-group input{
        width: 200px;
        display: flex;
        justify-content: center;
        margin-left: 49px;
        margin-top: 15px;
    }
    .btn{
        margin-top: 15px;
        margin-right: 55px;
    }
    .return-store{
        margin-top: 15px;
        margin-right: 55px;
   }
    .forgot-pass p{
        margin-top: 15px;
        font-size: 15px;
        margin-right: 55px;
    }
    .footer{
        height: 600px;
        padding-top: 40px;
        font-size: 13px;
        width: 100%;        
        display: flex;
        justify-content: space-evenly;
    }
    .legal{
        padding-left: 10px;
    }
    .followus{
        padding-left: 10px;
    }
    #insta{
        padding-top: 20px;
    }
    .copy-right{
        font-size: 8px;
        color: white;
        padding-bottom: 300px;
    }
}